*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(11, 12, 12);
  color: aliceblue;
}

.bookList{
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;

}
@media screen and  (min-width: 768px){
  .bookList{
    grid-template-columns: repeat(3, 1fr);
  }
}
  .Book{
    background-color: rgb(12, 175, 104);

    border-width: 1px;
    background-size: 10px;
    border-color: brown;
    
  }
  